# Hello World

In [1]:
# This is hello world in Python  注释
print('hello, world\n')

hello, world

In [2]:
#\n代表换行
print('hello, world')

hello, world

In [5]:
#注意使用英文字符输入
print("hello, world“)

SyntaxError: EOL while scanning string literal (<ipython-input-5-43e9612f56f8>, line 1)

In [6]:
print("hello, world")

hello, world

In [7]:
# 变量
# 赋值
# 整数
age = 18
print(age)

18

In [8]:
# 浮点数
age = 18.23E-4
print(age)

0.001823

In [9]:
#用双引号表示字符串可以包含单引号
print("What's your name?")

What's your name?

In [10]:
#用双引号表示字符串不可以包含单引号，要加转义字符\
print('What\'s your name?')

What's your name?

## Practice 00 - Hello World
Write your hello world!

# Variable

In [2]:
#变量名称的要求
age0 = 3
print(age0)

3

In [11]:
#不可以数字开始
0age = 2

SyntaxError: invalid syntax (<ipython-input-11-db4b08ae8ff7>, line 1)

In [12]:
#可以下划线开始
_age = 2

In [13]:
#区分大小写
myname = 'kenny'
myName = 'jack'
print(myname)
print(myName)

kenny
jack

In [14]:
#不能随意缩进
myname = 'kenny'
myName = 'jack'
    print(myname)
print(myName)

IndentationError: unexpected indent (<ipython-input-14-204c1edce3ea>, line 3)

In [4]:
#输入一个字符串
#输出一个字符串
text = input("Enter text:")
print(text)

Enter text:hello, world
hello, world

In [24]:
#将输入的字符串转变为一个整数
#输出一个整数
number = int (input("Enter an integer:"))
print(number)

Enter an integer:123
123

# Operator and Expression

In [25]:
#四则运算
2+3

5

## Practice 01 - Add
Input two numbers, and print the sum.

In [28]:
num1 = int(input('Enter a number:'))
num2 = int(input('Enter another number:'))
sum = num1 + num2
print(sum)

Enter a number:123
Enter another number:234
357

In [3]:
#字符串串联
'a'+'b'

'ab'

In [30]:
#负数
-5.2

-5.2

In [31]:
#四则运算
50-24

26

In [4]:
#四则运算
2*3

6

In [5]:
#字符串赋值
'la'*3

'lalala'

In [34]:
#指数
3**4

81

In [6]:
#除法，得到浮点数
13/4

3.25

In [36]:
#除法，得到整数，类似java中的13/4
13//4

3

In [37]:
#取余数
13%3

1

In [38]:
#取余数
25.5%2.25

0.75

In [39]:
#取余数
-25.5%2.25

1.5

In [40]:
#位移
2<<2

8

In [41]:
#位运算 与
5&3

1

In [42]:
#位运算 或
5|3

7

In [45]:
#位运算 异或
5^3

6

In [44]:
#位运算 非
#0000 0101  5  (以8位距离)
#1111 1010  -6
~5

-6

In [46]:
#布尔值
5<3

False

In [9]:
#字符串比较
x = 'str'; y='stR'; x==y

False

In [48]:
#布尔值 取非
x = True; not x

False

In [49]:
# 赋值 a= a*3
a = 2; a= a*3; print(a)

6

In [50]:
# 简写 a*=3
a = 2; a*= 3; print(a)

6

In [ ]:
# 加括号
l =5; b = 2; print(2*(l+b))

In [1]:
#打印多个值
print('a','b',3)

a b 3

In [4]:
#打印连接后的字符串
#数字和字符串不能直接连接
print('a'+'b'+str(3))

ab3

## Homework 01 - Currency Exchange
* How many euros are you exchanging? 81
* What is the exchange rate? 137.51
* 81 euros at an exchange rate of 137.51 is
* 111.38 U.S. dollars.